<div class="devise-wrapper">
  <div class="devise-container">
    <h2>ログイン</h2>
    
    <div class="border-line"></div>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
      <div class="label-wrapper">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => 'メールアドレスを入力',class: "label-field"  %>
      </div>
    
      <div class="label-wrapper">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password",:placeholder => 'メールアドレスを入力',class: "label-field"  %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="label-wrapper">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    
      <div class="label-wrapper">
        <%= f.submit "ログイン" ,class: "submit-btn"%>
      </div>
      
      <div class="border-line"></div>
      
        <div class="more_link_box">
          <div class="login-btn">
            <%= link_to "新規登録", new_registration_path(resource_name) %><br />
          </div>
          <div class="forgot-pass">
            <%= link_to "パスワードを忘れた方", new_password_path(resource_name) %>
          </div>
        </div>
        
    <% end %>
  </div>
</div>  